@import '~office-ui-fabric-react/dist/sass/References.scss';

.container {
  display: flex;
  max-width: 100%;
  max-height: 100%;
  flex-wrap: wrap;
  border-radius: 50px;
  border-color: "[theme: themePrimary]";
  border: 1px;
}

.sectionText {
  //flex: 1;
  flex: 0 1 360px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: "[theme: themeLight]"
}

.sectionImg {
  // flex: 1;
  flex: 0 1 360px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: "[theme: themeSecondary]"
}

.sectionImg img {
  max-width: 90%;
  max-height: 90%;
}

.sectionDescription {
  max-width: 90%;
}

.sectionText h1 {
  color: "[theme: themeDarker]";
  hyphens: auto;
  font-size: 40px;
  text-align: center;
  margin-bottom: 5px;
  margin-right: 10px;
}

.sectionText p {
  color: "[theme: themeDarkAlt]";
  font-size: 14px;
  text-align: justify;
  margin-bottom: 10px;
}