@import '~office-ui-fabric-react/dist/sass/References.scss';

.container {
  display: flex;
  max-width: 100%;
  max-height: 100%;
  flex-wrap: wrap;
  border-radius: 50px;
  border-color: PaleGoldenrod;
}

.sectionText {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: Khaki;
}

.sectionImg {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: LightYellow;
}

.sectionImg img {
  max-width: 90%;
  max-height: 90%;
}

.sectionDescription {
  max-width: 90%;
  max-height: 90%;
}

.sectionText h1 {
  color: DarkKhaki;
  font-size: 40px;
  text-align: center;
}

.sectionText p {
  color: #666;
  font-size: 14px;
  text-align: justify;
  margin: 1px;
}